*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
  flex: 1 0 auto;
}
.body {
  flex: 0 0 auto;
}

/* ---------------------------------------------------------------------------------------------------- */

.header-inline-block{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.header-block{
    width: 200px;
    margin: 0 50px;
    padding: 10px;
    color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header-block:hover{
    background-color: darkcyan;
    color: aquamarine;
    text-decoration: none;
}

/* ---------------------------------------------------------------------------------------------------- */

.body{
    padding: 50px;
    width: 1000px;
    margin: 0 auto;
}

/* ---------------------------------------------------------------------------------------------------- */

@media (max-width:768px){
    .header-inline-block{
        flex-direction: column;
    }
    .header-block{
        width: 100%;
    }

}
